body {
  &.midnight {
    @keyframes moves {
      0% {
        background-position: 0% 60%;
      }
      50% {
        background-position: 100% 60%;
      }
      100% {
        background-position: 0% 60%;
      }
    }

    .me {
      &:hover {
        &::before {
          border: 1.5px solid #80ddff;
          box-shadow: 0 0 4px 0 #66d5ff, 0 0 4px 0 #66d5ff, 0 0 6px 0 #66d5ff, 0 0 12px 0 #66d5ff;
        }
      }
    }

    .credit {
      display: block;
    }

    .loader svg {
      opacity: 1;
    }

    .background {
      background-color: $midnight;
      background-image: url("/backgrounds/rush.jpeg");
      background-image: url("/backgrounds/drive.jpeg");
      background-image: url("/backgrounds/baltimore.jpeg");
      background-image: url("/backgrounds/backyardtornado.jpeg");
      background-image: url("/backgrounds/skyfall.jpeg");
      background-image: url("/backgrounds/magichour.jpeg");
      background-image: url("/backgrounds/mexicowaterfalls.jpeg");
      background-image: url("/backgrounds/drive.jpeg");
      background-image: url("/backgrounds/momentsbeforeflight.jpeg");
      background-image: url("/backgrounds/suijin.jpeg");
      background-image: url("/midnight-sky.jpeg");
      background-position: 50% 0%;
      // animation: moves 40s linear 5s alternate infinite;

      &::after {
        opacity: 0.2;
      }
    }

    h1 span {
      &:hover {
        color: rgb(29, 170, 226);
        text-shadow: 0 0 6px rgba($lightning, 0.2), 0 0 6px rgba($lightning, 0.2);
      }
    }

    h1,
    h2,
    h6,
    h4 {
      color: white;
    }

    h3 {
      text-shadow: 0 0 4px white;
    }

    .pronounce,
    .eyebrow .social-media a span,
    .logo::after,
    .menu-title {
      color: white;
    }

    .contact a:not(.music) {
      color: white;
      &:hover {
        color: $lightning;
      }
    }

    .about-page {
      .about-title,
      .about-content {
        color: white;
      }
      &::before {
        color: $ocean;
        opacity: 0.3;
      }

      .background {
        background-image: none;
      }
    }

    .eyebrow .social-media a span::after {
      background-color: white;
    }

    h1 {
      text-shadow: 0 0 4px white, 0 0 2px white;
    }

    p {
      color: #f0f4f8 !important;
    }

    nav.utility li a {
      color: white;

      &:hover {
        color: $lightning;
      }
    }

    .social-media a svg,
    .social-media-footer a svg {
      fill: white;
    }

    .testimonial {
      background-color: transparent;
      border: 2px solid #b9d6fb;
      box-shadow: 0 0 7px 0 rgba(203, 226, 255, 0.6), 0 0 10px 0 rgba(0, 110, 255, 0.6);
      fill: white;

      &:hover {
        box-shadow: 0 0 7px 0 rgba(203, 226, 255, 0.6), 0 0 10px 0 rgba(0, 110, 255, 0.6),
          0 0 25px 0 rgba(203, 226, 255, 0.6), 0 0 25px 0 rgba(203, 226, 255, 0.6);
      }

      .quote {
        background-color: rgba($midnight, 0.65);
        color: white;

        .quote-cite {
          color: $lightning;
        }
        .quote-company {
          color: $petal;
        }
      }
    }
    .background {
    &.color-0 {
      background-image: url("/backgrounds/rush.jpeg") !important;
  
      ~ aside .eclipse {
        &::before {
          border-color: rgba(19, 19, 39, 0.6) transparent transparent;
        }
      }
    }
  
    &.color-1 {
      background-image: url("/backgrounds/baltimore.jpeg") !important;
      ~ aside .eclipse {
        &::before {
          border-color: rgba(19, 19, 39, 0.6) transparent transparent;
        }
      }
    }
  
    &.color-2 {
      background-image: url("/backgrounds/backyardtornado.jpeg") !important;
      ~ aside .eclipse {
        &::before {
          border-color: rgba(19, 19, 39, 0.6) transparent transparent;
        }
      }
    }
  
    &.color-3 {
      background-image: url("/backgrounds/skyfall.jpeg") !important;
      ~ aside .eclipse {
        &::before {
          border-color: rgba(19, 19, 39, 0.6) transparent transparent;
        }
      }
  
    }
  
    &.color-4 {
      background-image: url("/backgrounds/magichour.jpeg") !important;
      ~ aside .eclipse {
        &::before {
          border-color: rgba(19, 19, 39, 0.6) transparent transparent;
        }
      }
  
    }
  
    &.color-5 {
      background-image: url("/backgrounds/mexicowaterfalls.jpeg") !important;
      ~ aside .eclipse {
        &::before {
          border-color: rgba(19, 19, 39, 0.6) transparent transparent;
        }
      }
  
    }
  
    &.color-6 {
      background-image: url("/backgrounds/drive.jpeg") !important;
      background-position: 25% 0% !important;
      ~ aside .eclipse {
        &::before {
          border-color: rgba(19, 19, 39, 0.6) transparent transparent;
        }
      }
  
    }
  
    &.color-7 {
      background-image: url("/backgrounds/momentsbeforeflight.jpeg") !important;
      ~ aside .eclipse {
        &::before {
          border-color: rgba(19, 19, 39, 0.6) transparent transparent;
        }
      }
  
    }
  
    &.color-8 {
      background-image: url("/backgrounds/suijin.jpeg") !important;
      background-position: 0% 0% !important;
      
      ~ aside .eclipse {
        &::before {
          border-color: rgba(19, 19, 39, 0.6) transparent transparent;
        }
      }
    }
  }

    .eclipse .moon path {
      fill: white;

      &:hover {
        fill: lightblue;
      }
    }

    #circle svg {
      fill: white;
    }
    .s-line {
      fill: white;
      stroke: white;
    }

    footer {
      .social-media-footer span {
        color: white;
      }
      .villain {
        background-position: 50% 60%;

        &::before {
          height: 40%;
          background: linear-gradient($midnight 10%, rgba(19, 20, 36, 0));
        }
      }

      address {
        color: $grey;
      }
    }

    .menu-toggle {
      &:hover {
        .burger {
          span {
            &:nth-child(1) {
              background-color: white;
              box-shadow: 0 0 15px 0 white;
            }
            &:nth-child(2) {
              background-color: white;
              box-shadow: 0 0 15px 0 white;
            }
            &:nth-child(3) {
              background-color: white;
              box-shadow: 0 0 15px 0 white;
            }
          }
        }
      }
    }

    .me {
      &::before {
        border: 1.5px solid #fff;
        box-shadow: 0 0 4px 0 #fff, 0 0 4px 0 #fff, 0 0 6px 0 #fff;
        background-color: transparent;
      }
    }

    .eclipse {
      &::before {
        border-color: #32325b transparent transparent;
      }
    }

    .about {
      background-color: rgba(19, 19, 39, 0.6);
      color: white;
    }

    .social-media-links a {
      background-color: $lilac;
      .social-name {
        color: white;
      }
    }

    section#websites,
    section#designs,
    section#photography,
    section#projects,
    section#testimonials {
      h3 {
        color: #fff0f0;
      }
    }

    section#projects {
      .title {
        // background: rgba(255, 255, 255, 0.6);
        // padding: 8px;
        // border-radius: 5px;
        display: inline-block;
        color: #e9faff;
      }

      .subtitle {
        color: white;
      }

      .tilt .url {
        font-size: 13px;
        color: white;
        background-color: rgba($lightning, 0.5);
        display: inline-block;
        width: fit-content;
        padding: 0.25rem 0.5rem;
        border-radius: 25px;

        &:hover {
          background-color: rgba($lightning, 1);
        }
      }

      .section-content .tilt {
        &:nth-child(1) {
          background-color: transparent;
          border: 2px solid #d1d1d1;
          background-color: #d1d1d14f;
        }
        &:nth-child(2) {
          background-color: transparent;
          border: 2px solid rgb(191, 242, 255);
          background-color: rgba(191, 242, 255, 0.339);
        }

        &:nth-child(3) {
          background-color: transparent;
          border: 2px solid rgb(255, 231, 151);
          background-color: rgba(255, 231, 151, 0.304);
        }

        &:nth-child(4) {
          background-color: transparent;
          border: 2px solid #ee9b9b;
          background-color: #ee9b9b4b;
        }
        .tech {
          padding: 0.25rem 1rem;
        }
      }
    }
  }

  &.fade-in {
    &:not(.midnight) {
      .background {
        background-color: rgb(240, 240, 240);
      }
    }

    .logo::after {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.menu-open {
    .eyebrow {
      .contact a:not(.music),
      .social-media a {
        color: white;
        fill: white;

        &:hover {
          text-shadow: 0 0 4px white, 0 0 2px white;
        }
      }
    }

    .triangles {
      &::before {
        border-width: 50vh 55px 50vh 0;
        opacity: 1;
        transform: translateX(0);

        @media screen and (max-width: $tablet) {
          border-width: 50vh 20px 50vh 0;
        }
      }

      &::after {
        opacity: 1;
        border-width: 50vh 0 50vh 55px;
        transform: translateX(0);

        @media screen and (max-width: $tablet) {
          border-width: 50vh 0 50vh 20px;
        }
      }
    }
    .bottom-tri {
      &::before,
      &::after {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
      }

      &::after {
        border-width: 0 50vw 50px;

        @media screen and (max-width: $tablet) {
          border-width: 0 50vw 20px;
        }
      }
    }

    .eclipse {
      &::before {
        border-color: white transparent transparent;
        border-width: 40px 50vw 0;
      }

      .moon {
        top: 24px;
        transform: scale(1.5) translateX(-50%);
        path {
          fill: $lightning;
        }
      }
    }

    .menu-title {
      opacity: 1;
      transform: translateY(0);
    }

    .eyebrow .social-media a span::after {
      background-color: white;
    }

    .eyebrow .social-media a span {
      color: white;
    }

    .menu-toggle {
      .burger {
        span {
          background-color: white;
          box-shadow: 0 0 5px 0 white;

          &:nth-child(1) {
            transform: translateY(0px) rotate(315deg) translateX(-4px);

            &::before {
              background-color: #77cff5;
            }
          }

          &:nth-child(2) {
            opacity: 0;
            transform: translateX(-550px) translateY(-50%);
          }

          &:nth-child(3) {
            transform: translateY(0px) rotate(225deg) translateX(18px);
            &::before {
              background-color: $midnight;
            }
          }
        }
      }
    }

    .triangles {
      &::before,
      &::after {
        opacity: 1;
      }
    }

    .bottom-tri {
      &::after {
        opacity: 1;
      }
    }

    nav.menu {
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;

      li {
        @for $i from 1 through 6 {
          $seconds: ($i * 0.15) + s;
          &:nth-child(#{$i}) a {
            animation: 1s upper $seconds ease forwards;
          }
        }
      }
    }

    .scroll-down {
      display: none;
    }

    nav.utility {
      visibility: hidden;
    }

    .s-line {
      fill: white;
      stroke: white;
    }

    .r-line {
      fill: $waterfall;
      stroke: $waterfall;
    }
  }

  &.midnight.menu-open {
    .eclipse {
      &::before {
        border-color: white transparent transparent !important;
      }

      .moon {
        path {
          fill: $waterfall;

          &:hover {
            fill: lightblue;
          }
        }
      }
    }

    .logo {
      &:hover {
        // .r-line {
        //   fill: $waterfall !important;
        // }
      }
    }
  }
}

h1,
h2 {
  width: 259px;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 90%;
  margin-top: -7px;
  letter-spacing: 1px;

  span {
    display: inline-block;
    cursor: pointer;
    transition: all 100ms ease;
    position: relative;
    transform: rotateY(0deg);

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover {
      color: white;
      text-shadow: 0 0 5px white, 0 0 3px white;
      transform: rotateY(360deg);
    }
  }

  div {
    display: inline-block;

    // @media screen and (max-width: $blazeit) {
    //   margin: 0 !important;
    // }

    &:nth-child(1) {
      @media screen and (max-width: $screen) {
        margin: 0 0.35rem;
      }
    }

    &:nth-child(2) {
      @media screen and (max-width: $screen) {
        margin: 0 0.35rem;
      }
    }
  }

  @media screen and (max-width: $screen) {
    order: 2;
    width: 100%;
    margin-top: -2rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
  }

  @media screen and (max-width: $blazeit) {
    font-size: 60px;
  }
}

h2 {
  text-align: right;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: $work;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 185%;

  div:nth-child(3) {
    letter-spacing: 3.7px;
    margin-right: -1.5px;
  }

  div {
    span {
      transition: all 900ms ease;
      &:hover {
        text-shadow: 0 0 5px white,  0 0 15px white, 0 0 35px white, 0 0 5px rgba(255, 255, 255, 0.543);
        transition: none;
      }
    }
  }

  span {
    &:hover {
      text-shadow: 0 0 5px white, 0 0 6px white, 0 0 10px white, 0 0 15px white;
    }
  }

  @media screen and (max-width: $screen) {
    order: 3;
    text-align: center;
    font-size: 16px;
  }
}
