footer {
  font-size: 10px;
  width: 100%;
  padding: 50px 18px 0;

  .freelance {
    @include container;
    padding: 0 50px;
    max-width: 800px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: relative;
    z-index: 4;

    @media screen and (max-width: $tablet) {
      margin: 0 auto;
      padding: 36px 0;
    }

    a {
      box-shadow: $shadow-big;
      padding: 70px;
      background: $gradient;
      border-radius: 20px;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      color: $midnight;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 20px;
        left: 0;
        background-color: $lightning;
        z-index: -1;
      }

      @media screen and (max-width: $screen) {
        display: block;
        text-align: center;
        padding: 50px 36px;
      }

      > div {
        font-size: $h4;
        font-weight: 600;
        line-height: 100%;
        color: white;

        > div {
          transform: translateZ(30px) translateX(5px) translateY(7px);
          margin-bottom: 0.5rem;
          margin-top: -0.75rem;

          @media screen and (max-width: $screen) {
            transform: none;
            margin-top: 0;
          }
        }
      }

      p {
        font-size: 14px;
        color: $ocean !important;
        font-weight: 500;
        line-height: 100%;
        transform: translateZ(20px) translateX(5px) translateY(5px);

        @media screen and (max-width: $screen) {
          transform: none;
          margin-bottom: 1rem;
        }
      }

      button {
        border: none;
        text-transform: uppercase;
        font-family: $work;
        font-weight: 500;
        outline: none;
        background-color: white;
        transition: background 300ms ease;
        padding: 0.25rem 2rem;
        height: 45px;
        box-shadow: 1px 3px 20px 0 rgba(128, 128, 128, 0.5);
        cursor: pointer;
        transform: translateZ(30px);

        &:hover {
          background-color: $petal;
        }
      }
    }
  }

  .social-media-footer {
    margin: 1rem 0 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 45px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 65px;
      position: relative;

      &::before {
        width: 19px;
        opacity: 0.85;
        filter: invert(1);
        position: absolute;
        top: -10px;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        transition: all 300ms ease;
      }

      &::after {
        content: "";
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: absolute;
        top: -9px;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%) scale(0.3);
        opacity: 0;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
        transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
          opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      &:hover {
        color: white;
        text-shadow: 0 0 2px white;
        filter: none;
        fill: white;

        span {
          opacity: 1;
          font-size: 10px;
        }

        &::after {
          transform: scale(1) translateX(-50%) translateZ(0);
          opacity: 1;
        }

        &::before {
          top: -1rem;
          width: 25px;
          opacity: 0.9;
          filter: none;
        }
      }

      &:nth-child(1)::after {
        background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
      }

      &:nth-child(2)::after {
        background: #e83e80;
      }

      &:nth-child(3)::after {
        background: #552775;
      }

      &:nth-child(4)::after {
        background: rgb(24, 24, 24);
      }
    }

    span {
      font-size: 8px;
      text-transform: uppercase;
      color: black;
      transition: all 300ms ease;
      opacity: 0;
      // margin-top:4px;
    }

    svg {
      width: 32px;
      text-align: center;
    }
  }

  .villain {
    padding: 100px 50px 130px;
    text-align: center;
    position: relative;
    transition: background-image 300ms ease;
    background-size: cover;
    background-position: 50% bottom;
    z-index: 1;

    @media screen and (max-width: $surface) {
      padding: 100px 0px;
    }

    h6 {
      color: $midnight;
      font-size: 14px;
    }

    .email {
      font-size: $h4;
      color: rgb(16, 43, 65);
      word-break: break-all;
      background: linear-gradient(135deg, rgba(112, 213, 255, 0.9), rgba(0, 89, 188, 0.9), rgba(112, 213, 255, 0.9));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 300% 300%;
      animation: endlessly 10s ease infinite;
      font-weight: 800;
      transition: background 600ms ease;
      filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.1));

      &:hover {
        background: $lightning;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      @media screen and (max-width: $surface) {
        font-size: $h5;
      }
    }

    address {
      bottom: 2rem;
      position: absolute;
      padding: 0 2rem;
      left: 0;
      width: 100%;
      font-weight: 500;
      font-size: 10.25px;
      text-align: center;
      justify-content: center;

      .credits {
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        margin-bottom: 0.5rem;

        div {
          margin: 0 0.45rem;
        }
      }
    }
  }
}
