.internal-page {
  header {
    padding: 150px 50px;
    text-align: center;
    @include container-small;

    @media screen and (max-width: $tablet) {
      padding: 150px 36px 105px;
    }

    a {
      color: $lightning;
  
      &:hover {
        color: $waterfall;
      }
    }
  }

  

  h1 {
    margin: 0;
    width: 100%;
    margin-bottom: 12px;
  }

  nav.utility {
    display: none;
  }
}

.photography-page {
  footer {
    padding: 120px 18px 0;

    .freelance {
      margin: 0px auto -30px;
    }
  }
}

.about-page {
  position: relative;

  &::before {
    content: "சத்யா";
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 0;
    font-size: 26vw;
    padding: 0 36px;
    background: linear-gradient(135deg, rgba(112, 213, 255, 0.9), rgba(0, 89, 188, 0.9), rgba(112, 213, 255, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: endlessly 10s ease infinite;
    color: #d7dde6;
    opacity: 0.2;
    transform: translateX(-50%) translateY(-50%);
  }

  main {
    @include container;
    .content {
      font-size: 30px;
      max-width: 580px;
      margin: 0 auto;
    }
  }

  .about-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;

    @media screen and (max-width: $tablet) {
      flex-direction: column;
    }

    a {
      color: $lightning;
    }

    .about-title {
      width: 200px;
      font-family: $maison;
      font-size: $h5;
      color: $ocean;

      @media screen and (max-width: $tablet) {
        width: 100%;
        color: $soft !important;
        padding: 0 0 1rem 0;
      }
    }

    .about-content {
      font-size: 30px;
      width: calc(100% - 250px);

      @media screen and (max-width: $tablet) {
        width: 100%;
      }
    }

    hr {
      border-color: $petal;
    }

    li {
      span {
        display: block;
        font-size: 20px;
        color: #7f91ad;
        margin-top: -5px;
        margin-bottom: 5px;
      }
    }
  }
}

.portraits-page,
.lifestyle-page {
  .background {
    background-image: none !important;
  }
}

.photography-content {
  padding: 0 50px;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;

  .photography-image {
    cursor: pointer;
  }
}

.tl-cover-el {
  background-image: url("/midnight-sky.jpeg") !important;
  background-size: cover;
  background: $lavender !important;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  background: grey;
  margin-bottom: 30px;
}
